<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Покупка {{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>Цена: ${{ item.price|floatformat:2 }}</p>
    <button id="buy-button">Купить</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("{{ stripe_public_key }}");
        var buyButton = document.getElementById("buy-button");

        buyButton.addEventListener("click", function() {
            fetch("/buy/{{ item.id }}/", { method: "GET" })
            .then(response => response.json())
            .then(session => stripe.redirectToCheckout({ sessionId: session.id }));
        });
    </script>
</body>
</html>